.dropdown {
	display: inline-flex;
	position: relative;
	cursor: pointer;
}
.dropdownList {
	position: absolute;
	background: #fff;
	box-shadow: 0 .05rem .2rem rgba(48,55,66,.3);
	padding: .4rem;
	margin-top: .2rem;
	/* min-width: 100px; */
	/* width: 100%; */
	transform: translateY(.2rem);
	max-height: 50vh;
	overflow-y: auto;
	top: 100%;
}
.dropdownList > li {
	display: block;
	padding: .2rem .8rem;
	border-radius: .1rem;
}
.dropdownList > li + li {
	margin-top: .2rem;
}
.dropdownList > li:hover {
	background: #f1f1fc;
	color: #5755d9;
}
.dropdownListRight {
	left: auto;
	right: 0;
}
.iconButton {
	padding: 0 .125rem;
	font-size: 12px;
}