.css-G-H7T {
	padding: .5rem .5rem 0 .5rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: baseline;
	        align-items: baseline;
	flex-wrap: wrap;
	/* Safari */
	flex-shrink: 0;
}
.css-2cu9j {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: baseline;
	        align-items: baseline;
	flex-wrap: wrap;
}
.css-2cu9j > li {
	margin-left: 3px;
	margin-right: 3px;
}
.css-sOHx1 {
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 1;
	        flex-grow: 1;
}
.css-3__Qk {
	font-size: 1.5rem;
	color: var(--primary-theme-color);
	font-weight: 700;
	margin-right: .5rem;
}
.css-2Cez1 {
	margin-left: 3px;
}
.css-lmpwR {
	padding: .25rem .4rem;
	border: none;
	/* border: .05rem solid var(--primary-theme-color); */
	border-radius: .1rem;
	cursor: pointer;
	font-size: 100%;
  font-family: inherit;
}
.css-lmpwR:focus {
	box-shadow: 0 0 0 .1rem rgba(87,85,217,.2);
}
.css-1ZDek {
	background: var(--primary-theme-color);
	color: #fff;
}
.css-1ZDek:focus,
.css-1ZDek:hover {
	background:#3634d2;
	border-color:#3634d2;
}
.css-1SyN1 {
	background: #fff;
	color: var(--primary-theme-color);
}
.css-1SyN1:focus,
.css-1SyN1:hover {
	background: #f1f1fc;
}
.css-1SyN1:active {
	background: #4b48d6;
	border-color: #3634d2;
	color: #fff;
}
.css-2cQyf {
	display: -webkit-inline-box;
	display: inline-flex;
	position: relative;
	cursor: pointer;
}
.css-1tmWc {
	position: absolute;
	background: #fff;
	box-shadow: 0 .05rem .2rem rgba(48,55,66,.3);
	padding: .4rem;
	margin-top: .2rem;
	/* min-width: 100px; */
	/* width: 100%; */
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
	max-height: 50vh;
	overflow-y: auto;
	top: 100%;
}
.css-1tmWc > li {
	display: block;
	padding: .2rem .8rem;
	border-radius: .1rem;
}
.css-1tmWc > li + li {
	margin-top: .2rem;
}
.css-1tmWc > li:hover {
	background: #f1f1fc;
	color: #5755d9;
}
.css-2X-wl {
	left: auto;
	right: 0;
}
.css-3AIfq {
	padding: 0 .125rem;
	font-size: 12px;
}
.css-3Jtiz {
  padding-left: 0.25rem;
  padding-right: 0.0625rem;
  font-size: 0.75rem;
}
.css-1o5Cy {
  font-style: italic;
}
.css-Nyajp {
  text-decoration: underline;
}
/* ::selection, */
.css-3yktI {
  background: #eedbda;
}
.css-1mhF2 {
  background: #e1edf1;
}
.css-3rfGi {
  background: #f2efe8;
}
.css-2Tkur {
  background: rgba(255, 255, 0, 0.66);
}

.css-1Kifr {
  cursor: pointer;
}
.css-aYW0c {
  display: block;
  width: 100%;
}
.css-YTfSd {
  margin: .2rem .2rem 0 .2rem;
}
.css-2yWfL {
  text-indent: 0;
}
.css-k-P1n {
  text-indent: var(--primary-text-indent);
}
/* Q for poetry */
.css-2KJWD {
  /* How far word-wrapped lines are indented */
  padding-left: 6rem;
  text-indent: -4rem;
}
.css-1HONz {
  /* How far word-wrapped lines are indented */
  padding-left: 6rem;
  text-indent: -6rem;
}
/* Long enough for 3-digit verse number (PSA 117) */
/* .qcol > sup {
  width: 1.75rem;
  display: inline-block;
  margin-left: 1.75rem;
} */

.css-3ph2U {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
}
.css-JUyX7 {
	overflow-y: auto;
	min-height: 0;
  font-family: var(--secondary-font-family);
}
.css-2hVKo {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	/* Safari */
	flex-shrink: 0;
}
.css-1q3dd {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	        justify-content: flex-end;
	-webkit-box-flex: 1;
	        flex: auto;
	margin-right: 22px;
}
.css-HDosR {
	padding: 0 .3rem;
}
.css-3xSTY {
	cursor: col-resize;
	border-left: 4px solid gray;
	margin-right: 2px;
	margin-left: 2px;
}
.css-3qFxd {
  -webkit-box-flex: 1;
          flex: 1;
  display: 'flex';
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: 'column';
}
.css-QY6n6 {
  -webkit-box-flex: 1;
          flex: 1;
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html,
textarea {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

/* Site styles */
:root {
  --primary-text-color: #3b4351;
  /* Subtracted from 6rem */
  --primary-text-indent: 1rem;
  --primary-theme-color: #5755d9;
  --primary-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  --secondary-font-family: "Sentinel A", "Sentinel B", "Gentium Plus", "Ezra", Georgia, Times, serif;
}
html,
body {
  font-family: var(--primary-font-stack);
  color: var(--primary-text-color);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  height: 100%;
}
#root {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
}
main {
  display: -webkit-box;
  display: flex;
  min-height: 0;
}

/*# sourceMappingURL=main.a4580f06acd415544d42.css.map*/