.article {
	display: flex;
	flex-direction: column;
}
.reader {
	overflow-y: auto;
	min-height: 0;
  font-family: var(--secondary-font-family);
}
.toolbarContainer {
	display: flex;
	flex-wrap: wrap;
	/* Safari */
	flex-shrink: 0;
}
.toolbar {
	display: flex;
	justify-content: flex-end;
	flex: auto;
	margin-right: 22px;
}
.windowButton {
	padding: 0 .3rem;
}