.navbar {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
	margin-left: .4rem;
	margin-right: .4rem;
}
.navbarSection > li {
	margin-right: .3rem;
}
.navbarSection {
	display: flex;
	align-items: baseline;
}
.navbarBrand {
	font-size: 1.5rem;
	color: var(--primary-theme-color);
	font-weight: 700;
	margin-right: .5rem;
}