.header {
	padding: .5rem;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.navbar {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.navbar > li {
	margin-left: 3px;
	margin-right: 3px;
}
.navbarGrow {
	display: flex;
	flex-grow: 1;
}
.navbarBrand {
	font-size: 1.5rem;
	color: var(--primary-theme-color);
	font-weight: 700;
	margin-right: .5rem;
}
.form {
	margin-left: 3px;
}