.header {
	padding-left: .5rem;
	padding-right: .5rem;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	/* Safari */
	flex-shrink: 0;
}
.navbar {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}
.navbar > li {
	margin-left: 3px;
	margin-right: 3px;
}
.navbar > li > a {
	color: var(--primary-theme-color);
}
.navbarGrow {
	display: flex;
	flex-grow: 1;
}
.navbarBrand {
	font-size: 2rem;
	color: var(--primary-theme-color);
	font-weight: 700;
	margin-right: .5rem;
}
.form {
	margin-left: 3px;
}